.about {
  display: flex;
  flex-direction: column;
  .about-image {
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    h3 {
      color: $black;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    p {
      letter-spacing: 1px;
    }
  }
}

@media only screen and (max-width: "768px") {
  .content {
    padding: 30px;
  }
}
@media only screen and (min-width: "1024px") {
  .about {
    flex-direction: row;
  }
}
@media only screen and (min-width: "1024px") {
  .about {
    .content {
      width: 450px;
    }
    // .about-image {
    //   img {
    // width: auto;
    // }
    // }
  }
}
